<div class="question-list">
    <% questions.each do |question| %>
      <div class="question-item">
        <p><%= question.year %>-<%= question.number %></p>
        <p><%= simple_format(question.sentence) %></p>
        
       
          <p class="btn btn-light btn-block answer-show">答えを見る</p>
          
            <div class="answer">
              <p class="answer-number">(<%= question.answer %>)</p>
              <p class="answer-text"><%= simple_format(question.text) %></p>
            </div>
            
          <%=link_to "編集",edit_question_path(question),class: 'btn btn-light btn-block'%>
        
        <script type="text/javascript">
            $(function () {
              $('.answer').hide();
              
              $('.answer-show').on('click', () => {
                
                $('.answer').show();
               });
               
               
            });
            
            
        </script>

        
      </div>
    <% end %>
</div>
