<div class="question-list">
    <% questions.each do |question| %>
      <div class="question-item">
        <p><%= question.year %>-<%= question.number %></p>
        <p><%= simple_format(question.sentence) %></p>
        
          <p class="btn btn-light btn-block answer-show">答え<p class="answer-number">(<%= question.answer %>)</p></p>
         
        
        
        
        
        
        <script type="text/javascript">
            $(function () {
              $('.answer-show').on('click', () => {
                $(".answer-number").show();
                
               
              });
            });
            
            $(function(){
              $('.answer-close').on('click',()=>{
                $('.answer-show').show();
                $('.answer-number').hide();
                $('.answer-close').hide();
              })
            })
        </script>

        <p><%= simple_format(question.text) %></p>
      </div>
    <% end %>
</div>
